body {
  font-family: 'Source Sans', sans-serif;
  padding-top: 120px;
}

h1 {
  font-size: 3em;            /* Schriftgröße */
  color: #4a86e8;            /* Schriftfarbe */
}

h2 {
  font-size: 1.5em;            /* Schriftgröße */
  color: #ff9900;            /* Schriftfarbe */
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #4a86e8; 
}

.dnerf {
  font-variant: small-caps;
}

.banner {
  display: flex; /* Flex-Container */
  justify-content: center; /* Horizontal zentrieren */
  align-items: center; /* Vertikal zentrieren */
  height: 120px; /* Höhe des Containers */
  background-color: #4a86e8; /* Hintergrundfarbe des Banners */
  position: fixed; /* Der Banner bleibt immer an derselben Position */
  top: 0; /* Oben auf der Seite */
  left: 0; /* Startet am linken Rand */
  right: 0; /* Endet am rechten Rand */
  z-index: 1000; /* Stellt sicher, dass der Banner über anderen Inhalten angezeigt wird */
}


.banner img {
    max-height: 100%; /* Höhe des Bildes begrenzen */
    display: block; /* Entfernt das untere Rand-Whitespaces von Inline-Elementen */
}

.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: #4a86e8 !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  padding: 20px;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}



